<html>
<head><title>Тест из 10ти вопросов по физике</title>
  <style>
p, span, input, td {
 font-size:24px;
 face:"Verdana";
}
button{
    font-size:18px;
    face:"Verdana";
}
#vo {
    color:green;
}
#nvo {
    color:red;
}
#ot {
    color:blue;
}
table.text  {
    width:  40%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
   }
table.text td {

    vertical-align: top; /* Выравнивание по верхнему краю */
   }
td.rightcol { /* Правая ячейка */
    text-align: right; /* Выравнивание по правому краю */
   }

  </style>
</head>
<font face="Arial">
  <body style=" font:Arial 50px bold"  background="/static/gvgv.jpg" >
<center>
  <h1><font face="Verdana" color="black" size="20">Выполните задания теста:</font></h1>
  <div id="vopros1" style="display:block;">
    <p><font face="Verdana" color="black" size="8">Что за фильм?</font></p>
      <img src="/static/djuman.jpg">
    <table class="text" >
      <tr>
        <td class="text">1)джуманжи</td>
        <td class="text">2)джокер</td>
        <td class="text">3)джанго</td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_1"></font></p>
  </div>
  <div id="vopros2" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Что за код?</font></p>
    <img src="/static/akvomen.jpg">
    <table class="text">
      <tr>
        <td class="text">1)рыбка Дори</td>
        <td class="text">2)аквомен</td>
        <td class="text">3)спанчбоб</td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_2"></font></p>
  </div>
  <div id="vopros3" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Что за код? </font></p>
    <img src="/static/avatar.jpg">
    <table class="text">
      <tr>
        <td class="text">1)тупой и еще тупее</td>
        <td class="text">2)бетмен</td>
        <td class="text">3)аватар</td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_3"></font></p>
  </div>
  <div id="vopros4" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Что за код?</font></p>
    <img src="/static/chydo.jpg">
    <table class="text">
      <tr>
        <td class="text">1)джокер</td>
        <td class="text">2)бетмен</td>
        <td class="text">3)чудоженщина</td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_4"></font></p>
  </div>
  <div id="vopros5" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Что за код?</font></p>
    <img src="/static/dedpyl.jpg">
    <table class="text">
      <tr>
        <td class="text">1)веном</td>
        <td class="text">2)маска</td>
        <td class="text">3)дедпул</td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_5"></font></p>
  </div>
  <div id="vopros6" style="display:none;">
    <p><font face="Verdana" color="black" size="6">Что за код?</font></p>
    <img src="/static/lydiX.jpg">
    <table class="text">
      <tr>
        <td class="text">1)люди X</td>
        <td class="text">2)судная ночь</td>
        <td class="text">3)интерстелор</td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_6"></font></p>
  </div>
  <div id="vopros7" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Что за код? </font></p>
    <img src="/static/chelixstal.jpg">
    <table class="text">
      <tr>
        <td class="text">1)бетмен</td>
        <td class="text">2)человек из стали</td>
        <td class="text">3)чудо женщина</td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_7"></font></p>
  </div>
  <div id="vopros8" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Что за код? </font></p>
    <img src="/static/fantasticka.jpg">
    <table class="text">
      <tr>
        <td class="text">1)фантастическая четверка</td>
        <td class="text">2)мстители</td>
        <td class="text">3)люди X</td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_8"></font></p>
  </div>
  <div id="vopros9" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Что за код? </font></p>
    <img src="/static/pogona.jpg">
    <table class="text">
      <tr>
        <td class="text">1)погоня</td>
        <td class="text">2)супермен</td>
        <td class="text">3)тайна коко</td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_9"></font></p>
  </div>
  <div id="vopros10" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Что за код? </font></p>
    <img src="/static/ligasprav.jpg">
    <table class="text">
      <tr>
        <td class="text">1)люди X</td>
        <td class="text">2)джокер</td>
        <td class="text">3)лига справедливости</td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_10"></font></p>
  </div>

  <button id="kn_sl" onclick="sled_vopr();"><font color="black" size="5">Следующий вопрос</font></button>
  <button onclick="proverit();"><font color="red" size="5">Проверить</font></button>
  <div id="rezultat"></div>
</center>
<script>
function sled_vopr(){
    if(document.getElementById('vopros9').style.display == "block"){
        document.getElementById('vopros9').style.display = "none";
        document.getElementById('vopros10').style.display = "block";
        document.getElementById('kn_sl').style.display = "none";
        document.getElementById('kn_pr').style.display = "block";
    }
    if(document.getElementById('vopros8').style.display == "block"){
        document.getElementById('vopros8').style.display = "none";
        document.getElementById('vopros9').style.display = "block";
    }
    if(document.getElementById('vopros7').style.display == "block"){
        document.getElementById('vopros7').style.display = "none";
        document.getElementById('vopros8').style.display = "block";
    }
    if(document.getElementById('vopros6').style.display == "block"){
        document.getElementById('vopros6').style.display = "none";
        document.getElementById('vopros7').style.display = "block";
    }
    if(document.getElementById('vopros5').style.display == "block"){
        document.getElementById('vopros5').style.display = "none";
        document.getElementById('vopros6').style.display = "block";
    }
    if(document.getElementById('vopros4').style.display == "block"){
        document.getElementById('vopros4').style.display = "none";
        document.getElementById('vopros5').style.display = "block";
    }
    if(document.getElementById('vopros3').style.display == "block"){
        document.getElementById('vopros3').style.display = "none";
        document.getElementById('vopros4').style.display = "block";

    }
    if(document.getElementById('vopros2').style.display == "block"){
        document.getElementById('vopros2').style.display = "none";
        document.getElementById('vopros3').style.display = "block";

    }
    if(document.getElementById('vopros1').style.display == "block"){
        document.getElementById('vopros1').style.display = "none";
        document.getElementById('vopros2').style.display = "block";
    }
}
function proverit(){
pr_otv_zadachi_1 = 1;
pr_otv_zadachi_2 = 2;
pr_otv_zadachi_3 = 3;
pr_otv_zadachi_4 = 3;
pr_otv_zadachi_5 = 3;
pr_otv_zadachi_6 = 1;
pr_otv_zadachi_7 = 2;
pr_otv_zadachi_8 = 1;
pr_otv_zadachi_9 = 1;
pr_otv_zadachi_10 = 3;
otv_uch_1 = document.getElementById('z_1').value;
otv_uch_2 = document.getElementById('z_2').value;
otv_uch_3 = document.getElementById('z_3').value;
otv_uch_4 = document.getElementById('z_4').value;
otv_uch_5 = document.getElementById('z_5').value;
otv_uch_6 = document.getElementById('z_6').value;
otv_uch_7 = document.getElementById('z_7').value;
otv_uch_8 = document.getElementById('z_8').value;
otv_uch_9 = document.getElementById('z_9').value;
otv_uch_10 = document.getElementById('z_10').value;
ball = 0;
if(otv_uch_1 == pr_otv_zadachi_1){
    ball +=1;
    otveti = "<span id='vo'>Вопрос 1. Вы ответили верно. Ваш ответ: "+otv_uch_1+"</span>";
} else {
    otveti = "<span id='nvo'>Вопрос 1. Вы ответили не верно. Ваш ответ: "+otv_uch_1+"</span>";
}
if(otv_uch_2 == pr_otv_zadachi_2){
    ball +=1;
    otveti += "<br><span id='vo'>Вопрос 2. Вы ответили верно. Ваш ответ: "+otv_uch_2+"</span>";
} else {
    otveti += "<br><span id='nvo'>Вопрос 2. Вы ответили не верно. Ваш ответ: "+otv_uch_2+"</span>";
}
if(otv_uch_3 == pr_otv_zadachi_3){
    ball +=1;
    otveti += "<br><span id='vo'>Вопрос 3. Вы ответили верно. Ваш ответ: "+otv_uch_3+"</span>";
} else {
    otveti += "<br><span id='nvo'>Вопрос 3. Вы ответили не верно. Ваш ответ: "+otv_uch_3+"</span>";
}
if(otv_uch_4 == pr_otv_zadachi_4){
    ball +=1;
    otveti += "<br><span id='vo'>Вопрос 4. Вы ответили верно. Ваш ответ: "+otv_uch_4+"</span>";
} else {
    otveti += "<br><span id='nvo'>Вопрос 4. Вы ответили не верно. Ваш ответ: "+otv_uch_4+"</span>";
}
if(otv_uch_5 == pr_otv_zadachi_5){
    ball +=1;
    otveti2 = "<br><span id='vo'>Вопрос 5. Вы ответили верно. Ваш ответ: "+otv_uch_5+"</span>";
} else {
    otveti2 = "<br><span id='nvo'>Вопрос 5. Вы ответили не верно. Ваш ответ: "+otv_uch_5+"</span>";
}
if(otv_uch_6 == pr_otv_zadachi_6){
    ball +=1;
    otveti2 += "<br><span id='vo'>Вопрос 6. Вы ответили верно. Ваш ответ: "+otv_uch_6+"</span>";
} else {
    otveti2 += "<br><span id='nvo'>Вопрос 6. Вы ответили не верно. Ваш ответ: "+otv_uch_6+"</span>";
}
if(otv_uch_7 == pr_otv_zadachi_7){
    ball +=1;
    otveti2 += "<br><span id='vo'>Вопрос 7. Вы ответили верно. Ваш ответ: "+otv_uch_7+"</span>";
} else {
    otveti2 += "<br><span id='nvo'>Вопрос 7. Вы ответили не верно. Ваш ответ: "+otv_uch_7+"</span>";
}
if(otv_uch_8 == pr_otv_zadachi_8){
    ball +=1;
    otveti2 += "<br><span id='vo'>Вопрос 8. Вы ответили верно. Ваш ответ: "+otv_uch_8+"</span>";
} else {
    otveti2 += "<br><span id='nvo'>Вопрос 8. Вы ответили не верно. Ваш ответ: "+otv_uch_8+"</span>";
}
if(otv_uch_9 == pr_otv_zadachi_9){
    ball +=1;
    otveti2 += "<br><span id='vo'>Вопрос 9. Вы ответили верно. Ваш ответ: "+otv_uch_9+"</span>";
} else {
    otveti2 += "<br><span id='nvo'>Вопрос 9. Вы ответили не верно. Ваш ответ: "+otv_uch_9+"</span>";
}
if(otv_uch_10 == pr_otv_zadachi_10){
    ball +=1;
    otveti2 += "<br><span id='vo'>Вопрос 10. Вы ответили верно. Ваш ответ: "+otv_uch_10+"</span>";
} else {
    otveti2 += "<br><span id='nvo'>Вопрос 10. Вы ответили не верно. Ваш ответ: "+otv_uch_10+"</span>";
}
vsego_zadach = 10;
procent_vip = ball/vsego_zadach * 100;
procent_vip = procent_vip.toFixed();
document.getElementById('rezultat').innerHTML = "<span id='ot'>Задания выполнены верно на "+procent_vip+"%.</span><br><br>"+otveti+otveti2;
}

</script>
</body>
</font>
</html>