<html>
<head><title>Тест из 10ти вопросов по экономике</title>
  <style>
p, span, input, td {
 font-size:24px;
 face:"Verdana";
}
button{
    font-size:18px;
    face:"Verdana";
}
#vo {
    color:green;
}
#nvo {
    color:red;
}
#ot {
    color:blue;
}
table.text  {
    width:  40%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
   }
table.text td {

    vertical-align: top; /* Выравнивание по верхнему краю */
   }
td.rightcol { /* Правая ячейка */
    text-align: right; /* Выравнивание по правому краю */
   }

  </style>
</head>
<font face="Arial">
  <body style=" font:Arial 50px bold"  background="/static/gvgv.jpg" >
<center>
  <h1><font face="Verdana" color="black" size="20">Выполните задания теста:</font></h1>

  <div id="vopros1" style="display:block;">
    <p><font face="Verdana" color="black" size="8">Мировая экономика – это: </font></p>
    <img src="/static/akon1.jpg">
    <table class="text">
      <tr>
        <td class="text">1)сфера устойчивых товарно-денежных отношений между странами, основанная на международном разделении труда; </td>
        <td class="text">2)государство устанавливает размер заработной платы работникам</td>
        <td class="text">3)совокупность национальных экономик стран мира, связанных между собой обменом товаров, услуг и движением факторов производства;</td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_1"></font></p>
  </div>
  <div id="vopros2" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Уровень экономического развития страны характеризует показатель: </font></p>
    <img src="/static/akon2.jpeg">
    <table class="text">
      <tr>
        <td class="text">1)ВВП на душу населения в год; </td>
        <td class="text">2)доля обрабатывающей промышленности в объеме промышленной продукции; </td>
        <td class="text">3)общий объем ВВП, произведенный за год;</td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_2"></font></p>
  </div>
  <div id="vopros3" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Некоторые богатые страны не являются промышленно развитыми, а относятся к развивающимся странам в связи с: </font></p>
    <img src="/static/akon3.jpg">
    <table class="text">
      <tr>
        <td class="text">1)уровнем национального дохода на душу населения; </td>
        <td class="text">2)особенностями институциональной структуры экономики.</td>
        <td class="text">3)монокультурным характером экономики </td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_3"></font></p>
  </div>
  <div id="vopros4" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Сегодня более 70% мирового экспорта обеспечивают страны:  </font></p>
    <img src="/static/akon4.jpg">
    <table class="text">
      <tr>
        <td class="text">1)развивающиеся страны и страны переходной экономики в совокупности. </td>
        <td class="text">2)промышленно развитые;</td>
        <td class="text">3)страны переходной экономики </td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_4"></font></p>
  </div>
  <div id="vopros5" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Признаки открытой экономики: </font></p>
    <img src="/static/akon5.jpg">
    <table class="text">
      <tr>
        <td class="text">1)внешнеторговый оборот достигает 25% от ВВП; </td>
        <td class="text">2)экспорт превышает импорт </td>
        <td class="text">3)импорт превышает экспорт; </td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_5"></font></p>
  </div>
  <div id="vopros6" style="display:none;">
    <p><font face="Verdana" color="black" size="6">Для слаборазвитых стран более актуальными, чем для стран переходной экономики, являются проблемы:</font></p>
    <img src="/static/akon6.jpg">
    <table class="text">
      <tr>
        <td class="text">1)продовольственная;</td>
        <td class="text">2)«бегства» капиталов за границу </td>
        <td class="text">3)дефицита капитала, низкой квалификации рабочей силы; </td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_6"></font></p>
  </div>
  <div id="vopros7" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Взаимозависимость национальных экономик означает, что: </font></p>
    <img src="/static/akon7.jpg">
    <table class="text">
      <tr>
        <td class="text">1)рост дохода в одной стране стимулирует рост дохода в других станах;</td>
        <td class="text">2)обязательна координация макроэкономической политики </td>
        <td class="text">3страны обязательно участвуют в таможенных союзах; </td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_7"></font></p>
  </div>
  <div id="vopros8" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Если известны объемы экспорта и импорта страны, то это позволяет вычислить:  </font></p>
    <img src="/static/akon8.jpg">
    <table class="text">
      <tr>
        <td class="text">1)экспортную квоту;</td>
        <td class="text">2)оборот внешней торговли.  </td>
        <td class="text">3)торговый баланс; </td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_8"></font></p>
  </div>
  <div id="vopros9" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Отмена таможенной пошлины на импортируемый товар приведет к:  </font></p>
    <img src="/static/akon9.jpg">
    <table class="text">
      <tr>
        <td class="text">1)росту производства этого товара внутри страны</td>
        <td class="text">2)увеличению внутренней цены аналогичного отечественного товара;</td>
        <td class="text">3)снижению внутренней цены аналогичного отечественного товара;</td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_9"></font></p>
  </div>
  <div id="vopros10" style="display:none;">
    <p><font face="Verdana" color="black" size="8">Таможенная пошлина, которая рассчитывается в процентах от таможенной стоимости товара: </font></p>
    <img src="/static/akon10.jpg">
    <table class="text">
      <tr>
        <td class="text">1)адвалорная.</td>
        <td class="text">2)комбинированная;</td>
        <td class="text">3)специфическая </td>
      </tr>
    </table>
    <p><font face="Verdana" color="black" size="5">Введите цифру правильного ответа <input type="text" id="z_10"></font></p>
  </div>

  <button id="kn_sl" onclick="sled_vopr();"><font color="black" size="5">Следующий вопрос</font></button>
  <button onclick="proverit();"><font color="red" size="5">Проверить</font></button>
  <div id="rezultat"></div>
</center>
<script>
function sled_vopr(){
    if(document.getElementById('vopros9').style.display == "block"){
        document.getElementById('vopros9').style.display = "none";
        document.getElementById('vopros10').style.display = "block";
        document.getElementById('kn_sl').style.display = "none";
        document.getElementById('kn_pr').style.display = "block";
    }
    if(document.getElementById('vopros8').style.display == "block"){
        document.getElementById('vopros8').style.display = "none";
        document.getElementById('vopros9').style.display = "block";
    }
    if(document.getElementById('vopros7').style.display == "block"){
        document.getElementById('vopros7').style.display = "none";
        document.getElementById('vopros8').style.display = "block";
    }
    if(document.getElementById('vopros6').style.display == "block"){
        document.getElementById('vopros6').style.display = "none";
        document.getElementById('vopros7').style.display = "block";
    }
    if(document.getElementById('vopros5').style.display == "block"){
        document.getElementById('vopros5').style.display = "none";
        document.getElementById('vopros6').style.display = "block";
    }
    if(document.getElementById('vopros4').style.display == "block"){
        document.getElementById('vopros4').style.display = "none";
        document.getElementById('vopros5').style.display = "block";
    }
    if(document.getElementById('vopros3').style.display == "block"){
        document.getElementById('vopros3').style.display = "none";
        document.getElementById('vopros4').style.display = "block";

    }
    if(document.getElementById('vopros2').style.display == "block"){
        document.getElementById('vopros2').style.display = "none";
        document.getElementById('vopros3').style.display = "block";

    }
    if(document.getElementById('vopros1').style.display == "block"){
        document.getElementById('vopros1').style.display = "none";
        document.getElementById('vopros2').style.display = "block";
    }
}
function proverit(){
pr_otv_zadachi_1 = 3;
pr_otv_zadachi_2 = 1;
pr_otv_zadachi_3 = 2;
pr_otv_zadachi_4 = 2;
pr_otv_zadachi_5 = 1;
pr_otv_zadachi_6 = 3;
pr_otv_zadachi_7 = 1;
pr_otv_zadachi_8 = 2;
pr_otv_zadachi_9 = 3;
pr_otv_zadachi_10 = 1;
otv_uch_1 = document.getElementById('z_1').value;
otv_uch_2 = document.getElementById('z_2').value;
otv_uch_3 = document.getElementById('z_3').value;
otv_uch_4 = document.getElementById('z_4').value;
otv_uch_5 = document.getElementById('z_5').value;
otv_uch_6 = document.getElementById('z_6').value;
otv_uch_7 = document.getElementById('z_7').value;
otv_uch_8 = document.getElementById('z_8').value;
otv_uch_9 = document.getElementById('z_9').value;
otv_uch_10 = document.getElementById('z_10').value;
ball = 0;
if(otv_uch_1 == pr_otv_zadachi_1){
    ball +=1;
    otveti = "<span id='vo'>Вопрос 1. Вы ответили верно. Ваш ответ: "+otv_uch_1+"</span>";
} else {
    otveti = "<span id='nvo'>Вопрос 1. Вы ответили не верно. Ваш ответ: "+otv_uch_1+"</span>";
}
if(otv_uch_2 == pr_otv_zadachi_2){
    ball +=1;
    otveti += "<br><span id='vo'>Вопрос 2. Вы ответили верно. Ваш ответ: "+otv_uch_2+"</span>";
} else {
    otveti += "<br><span id='nvo'>Вопрос 2. Вы ответили не верно. Ваш ответ: "+otv_uch_2+"</span>";
}
if(otv_uch_3 == pr_otv_zadachi_3){
    ball +=1;
    otveti += "<br><span id='vo'>Вопрос 3. Вы ответили верно. Ваш ответ: "+otv_uch_3+"</span>";
} else {
    otveti += "<br><span id='nvo'>Вопрос 3. Вы ответили не верно. Ваш ответ: "+otv_uch_3+"</span>";
}
if(otv_uch_4 == pr_otv_zadachi_4){
    ball +=1;
    otveti += "<br><span id='vo'>Вопрос 4. Вы ответили верно. Ваш ответ: "+otv_uch_4+"</span>";
} else {
    otveti += "<br><span id='nvo'>Вопрос 4. Вы ответили не верно. Ваш ответ: "+otv_uch_4+"</span>";
}
if(otv_uch_5 == pr_otv_zadachi_5){
    ball +=1;
    otveti2 = "<br><span id='vo'>Вопрос 5. Вы ответили верно. Ваш ответ: "+otv_uch_5+"</span>";
} else {
    otveti2 = "<br><span id='nvo'>Вопрос 5. Вы ответили не верно. Ваш ответ: "+otv_uch_5+"</span>";
}
if(otv_uch_6 == pr_otv_zadachi_6){
    ball +=1;
    otveti2 += "<br><span id='vo'>Вопрос 6. Вы ответили верно. Ваш ответ: "+otv_uch_6+"</span>";
} else {
    otveti2 += "<br><span id='nvo'>Вопрос 6. Вы ответили не верно. Ваш ответ: "+otv_uch_6+"</span>";
}
if(otv_uch_7 == pr_otv_zadachi_7){
    ball +=1;
    otveti2 += "<br><span id='vo'>Вопрос 7. Вы ответили верно. Ваш ответ: "+otv_uch_7+"</span>";
} else {
    otveti2 += "<br><span id='nvo'>Вопрос 7. Вы ответили не верно. Ваш ответ: "+otv_uch_7+"</span>";
}
if(otv_uch_8 == pr_otv_zadachi_8){
    ball +=1;
    otveti2 += "<br><span id='vo'>Вопрос 8. Вы ответили верно. Ваш ответ: "+otv_uch_8+"</span>";
} else {
    otveti2 += "<br><span id='nvo'>Вопрос 8. Вы ответили не верно. Ваш ответ: "+otv_uch_8+"</span>";
}
if(otv_uch_9 == pr_otv_zadachi_9){
    ball +=1;
    otveti2 += "<br><span id='vo'>Вопрос 9. Вы ответили верно. Ваш ответ: "+otv_uch_9+"</span>";
} else {
    otveti2 += "<br><span id='nvo'>Вопрос 9. Вы ответили не верно. Ваш ответ: "+otv_uch_9+"</span>";
}
if(otv_uch_10 == pr_otv_zadachi_10){
    ball +=1;
    otveti2 += "<br><span id='vo'>Вопрос 10. Вы ответили верно. Ваш ответ: "+otv_uch_10+"</span>";
} else {
    otveti2 += "<br><span id='nvo'>Вопрос 10. Вы ответили не верно. Ваш ответ: "+otv_uch_10+"</span>";
}
vsego_zadach = 10;
procent_vip = ball/vsego_zadach * 100;
procent_vip = procent_vip.toFixed();
document.getElementById('rezultat').innerHTML = "<span id='ot'>Задания выполнены верно на "+procent_vip+"%.</span><br><br>"+otveti+otveti2;
}

</script>
</body>
</font>
</html>